# ignore build output
build/
bin
obj
/doc/_build/
/doc/_doxy/
/dlls/

/doc/*.XML
packages

# ignore IDE files
.vs
*.suo
*.sln.ide
*.user
*.sublime-workspace
TestResults/
*.vspx
*.userprefs

# ignore dlls
*.dll
*.pdb

# ignore nuget packages
*.nupkg
